body{

    float: left;
    margin: 0;
    width: 100%;
    height: 45.1em;

}
div.er_backer{
    float: left;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(43,47,54,1) 15%, rgba(54,25,25,1) 100%);
    transition:background 500ms;
    -webkit-transition:background 500ms;
    -moz-transition:background 500ms;
    -ms-transition:background 500ms;
    -o-transition:background 500ms;
}
        div.er_backer:hover{
            background: linear-gradient(90deg, rgba(43,47,54,1) 15%, rgba(25,54,31,1) 100%);

        }


        









        .tx_home_hide{
            visibility: hidden;
            display: none;
        }